.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  justify-content: center;
}

  
  .filters {
    display: flex;
    gap: 10px;
  }
  
  .filters input,
  .filters select {
    padding: 6px 10px;
    font-size: 16px;
  }

  .card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    transition: box-shadow 0.2s ease;
  }
  
  .card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;

  }
  
  .pagination button {
    padding: 8px 12px;
    font-size: 16px;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out forwards;
  }

  .modalOverlay.fadeOut {
    animation: fadeOut 0.2s ease-in forwards;
  }
  
  .modalContent {
    position: relative; /* important pour positionner la croix */
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }