.grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  justify-content: center;

}
  
  .link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
  }
  
  .link:hover {
    transform: scale(1.02);
  }
  