.appContainer {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff;
  padding: 15px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
}

.main {
  flex: 1;
}

.footer {
  background-color: #2c3e50;
  color: white;
  font-size: 0.9rem;
  padding: 15px 0;
  text-align: center;
}

.heartIcon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin: 0 5px;
  filter: brightness(0) saturate(100%) invert(53%) sepia(96%) saturate(5244%) hue-rotate(346deg) brightness(102%) contrast(103%);
}
