.appContainer {
    background-color: rosybrown;
  }

.header {
    background-color: rgb(158, 40, 40);
  }

  .main {
    background-color: yellowgreen;
  }
  .footer {
    background-color: #2c3e50;
    color: white;
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: center;
  }
  
  .heartIcon {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    color:white
  }
  
  .navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
  }